<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    
    <form action="/" method="POST">
        Title: <br><input type="text" name="title"><br>
        Body: <br><textarea type="text" name="body" rows=6></textarea><br>
        <input type="file" name="myUpload"><br>

        <input type="submit" value="Submit">
    </form>


</body>
</html>